.slick-track{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: center !important;
    align-items: center !important;

}
.slick-next:before, .slick-prev:before {
    color: #3592A5 !important;
    font-size: 40px !important;
}
.slick-prev, .slick-next{
    width: 40px !important;
    height: 40px !important;
}
.slick-next{
    right: -45px !important;
}
