@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


html {
    background-color: #FFF;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    font-family: 'Noto Sans', sans-serif;
}
body h1,
body h2,
body h3,
body h4,
body h5 {
    font-family: 'Noto Sans', sans-serif;
}
