 
  .ctalink { 
      pointer-events: auto;
      border:3px solid #3592A5;
      color: #3592A5;
      font-weight: bold;
      padding: 10px 30px;
      border-radius: 40px;
      background-color: #E3EFF1;
      
  }
  .ctalink:hover { 
    background-color: #3592A5; 
    pointer-events: auto;
    border:3px solid #3592A5;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 40px;
      
  }