.video-react-control-bar{
    height: 3rem !important;
    align-items: center;
}
.video-react-button{
    font-size: 1rem !important;
}
.video-react-time-control{
    font-size: 1rem !important;
    font-family: 'Noto Sans', sans-serif !important;
}
.video-react-progress-control{
    font-size: 1rem !important;
    font-family: 'Noto Sans', sans-serif !important;
}
.video-react-big-play-button{
    top: unset !important;
    bottom: 10px !important;
    font-size: 2rem !important;
}
