.nonHover {
    filter: contrast(60%); 
}


.hover {
    animation-name: brighten;
    animation-duration: .5s; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


@keyframes brighten {
    0%   {filter: contrast(60%); }
    25%   {filter: contrast(70%); }
    50%  {filter: contrast(80%); }
    75%  {filter: contrast(90%); }
    100% {filter: contrast(100%); }
}

.cohort-item{
    margin-bottom: 40px;
}
.cohort-img{
    margin-bottom: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    object-fit: contain;
}
@media only screen and (max-width: 991px) {
    .cohort-item{
        text-align: center;
        margin-bottom: 30px;
    }
    .cohort-img{
        filter: contrast(100%);
        width: 90%;
        margin: 0 auto 10px;
    }
}