
.fade-inThree { 
  animation: fadeinout 3s linear ; 
  opacity: 0;
  /* animation-duration: 3s;
  animation-delay: 2s;
  animation-delay: 5s; */
  -webkit-animation: fadeinout 3s linear ;
  -moz-animation: fadeinout 3s linear ;
  -o-animation: fadeinout 3s linear ;
  -ms-animation: fadeinout 3s linear ;
  animation-iteration-count: 1;
  animation-delay: 1s;
}
@keyframes fadeinout {
   0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@-moz-keyframes fadeinout {
    0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@-o-keyframes fadeinout {
    0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@-ms-keyframes fadeinout {
    0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

.fade-inFour {
  animation: fadeinout 3s linear ; 
  opacity: 0;
  /* animation-duration: 3s;
  animation-delay: 2s;
  animation-delay: 5s; */
  -webkit-animation: fadeinout 3s linear ;
  -moz-animation: fadeinout 3s linear ;
  -o-animation: fadeinout 3s linear ;
  -ms-animation: fadeinout 3s linear ;
  animation-iteration-count: 1;
  animation-delay: 3s;
  }
  @keyframes fadeinout {
    0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-moz-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-webkit-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-o-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-ms-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }

  .fade-inFive {
    animation: fadeinout 3s linear ; 
    opacity: 0;
    /* animation-duration: 3s;
    animation-delay: 2s;
    animation-delay: 5s; */
    -webkit-animation: fadeinout 3s linear ;
    -moz-animation: fadeinout 3s linear ;
    -o-animation: fadeinout 3s linear ;
    -ms-animation: fadeinout 3s linear ;
    animation-iteration-count: 1;
    animation-delay: 5s;
  }
  @keyframes fadeinout {
    0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-moz-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-webkit-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-o-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-ms-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
  .fade-inSix {
    animation: fadeinout 3s linear ; 
    opacity: 0;
    /* animation-duration: 3s;
    animation-delay: 2s;
    animation-delay: 5s; */
    -webkit-animation: fadeinout 3s linear ;
    -moz-animation: fadeinout 3s linear ;
    -o-animation: fadeinout 3s linear ;
    -ms-animation: fadeinout 3s linear ;
    animation-iteration-count: 1;
    animation-delay: 7s;
  }
  @keyframes fadeinout {
    0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-moz-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-webkit-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-o-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-ms-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }

  .fade-inSeven {
    animation: fadeinout 3s linear ; 
    opacity: 0;
    /* animation-duration: 3s;
    animation-delay: 2s;
    animation-delay: 5s; */
    -webkit-animation: fadeinout 3s linear ;
    -moz-animation: fadeinout 3s linear ;
    -o-animation: fadeinout 3s linear ;
    -ms-animation: fadeinout 3s linear ;
    animation-iteration-count: 1;
    animation-delay: 9s;
  }
  @keyframes fadeinout {
    0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-moz-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-webkit-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-o-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-ms-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }

  .fade-inEight {
    animation: fadeinout 3s linear ; 
    opacity: 0;
    /* animation-duration: 3s;
    animation-delay: 2s;
    animation-delay: 5s; */
    -webkit-animation: fadeinout 3s linear ;
    -moz-animation: fadeinout 3s linear ;
    -o-animation: fadeinout 3s linear ;
    -ms-animation: fadeinout 3s linear ;
    animation-iteration-count: 1;
    animation-delay: 11s;
  }
  @keyframes fadeinout {
    0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-moz-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-webkit-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-o-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-ms-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }

  .fade-inNine {
    animation: fadeinout 3s linear ; 
    opacity: 0;
    /* animation-duration: 3s;
    animation-delay: 2s;
    animation-delay: 5s; */
    -webkit-animation: fadeinout 3s linear ;
    -moz-animation: fadeinout 3s linear ;
    -o-animation: fadeinout 3s linear ;
    -ms-animation: fadeinout 3s linear ;
    animation-iteration-count: 1;
    animation-delay: 13s;
  }
  @keyframes fadeinout {
    0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-moz-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-webkit-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-o-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-ms-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }

  .fade-inTen {
    animation: fadeinout 3s linear ; 
    opacity: 0;
    /* animation-duration: 3s;
    animation-delay: 2s;
    animation-delay: 5s; */
    -webkit-animation: fadeinout 3s linear ;
    -moz-animation: fadeinout 3s linear ;
    -o-animation: fadeinout 3s linear ;
    -ms-animation: fadeinout 3s linear ;
    animation-iteration-count: 1;
    animation-delay: 15s;
  }
  @keyframes fadeinout {
    0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-moz-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-webkit-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-o-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-ms-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
  .fade-inEleven {
    animation: fadeinout 3s linear ; 
    opacity: 0;
    /* animation-duration: 3s;
    animation-delay: 2s;
    animation-delay: 5s; */
    -webkit-animation: fadeinout 3s linear ;
    -moz-animation: fadeinout 3s linear ;
    -o-animation: fadeinout 3s linear ;
    -ms-animation: fadeinout 3s linear ;
    animation-iteration-count: 1;
    animation-delay: 17s;
  }
  @keyframes fadeinout {
    0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-moz-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-webkit-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-o-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-ms-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }

  .fade-inTwelve {
    animation: fadeinout 3s linear ; 
    opacity: 0;
    /* animation-duration: 3s;
    animation-delay: 2s;
    animation-delay: 5s; */
    -webkit-animation: fadeinout 3s linear ;
    -moz-animation: fadeinout 3s linear ;
    -o-animation: fadeinout 3s linear ;
    -ms-animation: fadeinout 3s linear ;
    animation-iteration-count: 1;
    animation-delay: 19s;
  }
  @keyframes fadeinout {
    0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-moz-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-webkit-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-o-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-ms-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }

  .fade-inThirteen {
    animation: fadeIn linear 13s;
    -webkit-animation: fadeIn linear 13s;
    -moz-animation: fadeIn linear 13s;
    -o-animation: fadeIn linear  13s;
    animation: fadeinout 3s linear ; 
    opacity: 0;
    /* animation-duration: 3s;
    animation-delay: 2s;
    animation-delay: 5s; */
    -webkit-animation: fadeinout 3s linear ;
    -moz-animation: fadeinout 3s linear ;
    -o-animation: fadeinout 3s linear ;
    -ms-animation: fadeinout 3s linear ;
    animation-iteration-count: 1;
    animation-delay: 21s;
  }
  @keyframes fadeinout {
    0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-moz-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-webkit-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-o-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-ms-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
  .fade-inFifteen {
    animation: fadeinout 3s linear ; 
    opacity: 0;
    /* animation-duration: 3s;
    animation-delay: 2s;
    animation-delay: 5s; */
    -webkit-animation: fadeinout 3s linear ;
    -moz-animation: fadeinout 3s linear ;
    -o-animation: fadeinout 3s linear ;
    -ms-animation: fadeinout 3s linear ;
    animation-iteration-count: 1;
    animation-delay: 23s;
  }
  @keyframes fadeinout {
    0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-moz-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-webkit-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-o-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-ms-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }

  .fade-inSixteen {
    animation: fadeinout 3s linear ; 
    opacity: 0;
    /* animation-duration: 3s;
    animation-delay: 2s;
    animation-delay: 5s; */
    -webkit-animation: fadeinout 3s linear ;
    -moz-animation: fadeinout 3s linear ;
    -o-animation: fadeinout 3s linear ;
    -ms-animation: fadeinout 3s linear ;
    animation-iteration-count: 1;
    animation-delay: 1s;
  }
  @keyframes fadeinout {
    0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-moz-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-webkit-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-o-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-ms-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
  .fade-inFourteen {
    animation: fadeinout 3s linear ; 
    opacity: 0;
    /* animation-duration: 3s;
    animation-delay: 2s;
    animation-delay: 5s; */
    -webkit-animation: fadeinout 3s linear ;
    -moz-animation: fadeinout 3s linear ;
    -o-animation: fadeinout 3s linear ;
    -ms-animation: fadeinout 3s linear ;
    animation-iteration-count: 1;
    animation-delay: 25s;
  }
  @keyframes fadeinout {
    0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-moz-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-webkit-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-o-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
 
 @-ms-keyframes fadeinout {
     0%,100% { opacity: 0; }
   50% { opacity: 1; }
 }
   
 
  .hide {
    display: none;
  }